.mainvideo::-webkit-scrollbar{
  width: 11px;
  background: transparent;
}

.mainvideo::-webkit-scrollbar-thumb{
  background-color: #d4d4d4;
  border-radius: 20px;
}

.mainvideo{
  overflow: overlay;
  background-color: #181818;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  height: 100vh;
  width: 100%;
}

.swiper-container{
  grid-column: 2/6;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#valorant.game-title{
  grid-column: 2/6;
  padding: 5% 2% 0 2%;
  font-size: 1.5rem;
  font-weight: 450;
  color: #FFFFFF;
  z-index: 10;
}
#overwatch.game-title{
  grid-column: 2/6;
  padding: 1% 2% 0 2%;
  font-size: 1.5rem;
  font-weight: 450;
  color: #FFFFFF;
  z-index: 10;
}

.swiper-slide{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
  animation: hide-slide 0.8s;
  filter: blur(5px);
  /*APAGAR MAIS TARDE*/
  background-color: #333333;
}
@keyframes hide-slide{
  0%{
    filter: blur(0);
  }
  100%{
    filter: blur(5px);
  }
}

.swiper-slide-active{
  animation: appear-slide 0.8s;
  filter: blur(0);
}
@keyframes appear-slide{
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0);
  }
}

.swiper-slide.raze{background-image: url('./Images/Raze.jpg');}

.swiper-slide.killjoy{background-image: url('./Images/Killjoy.jpg');}

.swiper-slide.skye{background-image: url('./Images/Skye.jpg');}

.swiper-slide.sage{background-image: url('./Images/Sage.jpg');}

.swiper-slide.jett{background-image: url('./Images/Jett.jpg');}

.swiper-slide.reyna{background-image: url('./Images/Reyna.jpg');}

.swiper-slide.cypher{background-image: url('./Images/Cypher.jpg');}

.swiper-slide.phoenix{background-image: url('./Images/Phoenix.jpg');}

.swiper-slide.yoru{background-image: url('./Images/Yoru.jpg');}

.content{
  cursor: grab;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.content p{
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #202020ED;
  padding: 1% 25%;
  border-radius: 10px 10px 0 0;
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 600;
}
.content p:active{
  color: #FFFFFF9F;
}

.gallery{
  grid-column: 2/6;
}

.character-name{
  padding: 15% 8% 5% 8%;
  font-size: 1.5rem;
  font-weight: 450;
  color: #FFFFFF;
  grid-column: 1/2;
}

.video-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video{
  height: 14rem;
  /*aspect-ratio: 16/9;*/
  width: 25rem;
  margin: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem;
}

.video-container .video video, .video-container .video iframe{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-container .video video:hover, .video-container .video iframe:hover{
  transition: 0.2s linear;
  transform: scale(1.05);
}

.video-container .video .active{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 1.5%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.video-container .video .active:hover{
  transition: none;
  transform: translate(-50%, -50%) scale(1);
}


@media (max-width: 1024px){
  .mainvideo{
    background-image: linear-gradient(135deg, #344444 0%, #3e8d8d 100%);
    width: 100%;
    height: 100%;
  }

  #valorant.game-title, #overwatch.game-title, .swiper-container{
    grid-column: 2/6;
  }
  #valorant.game-title, #overwatch.game-title{
    padding-top: 16%;
    padding-bottom: 4%;
  }

  .swiper-container{
    min-height: 50vh;
  }

  .swiper-slide{
    height: auto;
  }

  .valorant-library{
    grid-column: 2/6;
    display: grid;
  }
}