:root{
  --background: #1F2833;
  --background2: #0B0C10;
  --color1: #66FCF1;
  --color2: #45A29E;
}

.main{
  background: none;
}

.mainvideo::-webkit-scrollbar{
  width: 11px;
  background: transparent;
}

.mainvideo::-webkit-scrollbar-thumb{
  background-color: var(--color2);
  border-radius: 20px;
}

.mainvideo{
  overflow: overlay;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  height: 100vh;
  width: 100%;
}

#scroll-to-top::after{
  content: "\f062";
  font-family: FontAwesome;
  font-size: 2.5em;
  color: var(--color2);
}

#scroll-to-top{
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: unset;
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}

#scroll-to-top.show{
  opacity: 1;
  visibility: visible;
}

.swiper-container{
  grid-column: 2/6;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

#valorant.game-title{
  grid-column: 2/6;
  padding: 5% 2% 0 2%;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4rem;
  color: var(--color1);
  z-index: 10;
}
#overwatch.game-title{
  grid-column: 2/6;
  padding: 1% 2% 0 2%;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4rem;
  color: var(--color1);
  z-index: 10;
}

.swiper-slide{
  background-position: center;
  background-size: cover;
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: none;
  animation: hide-slide 0.8s;
  filter: blur(5px);
  /***************************DELETE LATER**********************************************/
  background-color: var(--background2);
}
@keyframes hide-slide{
  0%{
    filter: blur(0);
  }
  100%{
    filter: blur(5px);
  }
}

.swiper-slide-active{
  animation: appear-slide 0.8s;
  filter: blur(0);
}
@keyframes appear-slide{
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0);
  }
}

.swiper-slide.raze{background-image: url('./Images/Raze.jpg');}

.swiper-slide.killjoy{background-image: url('./Images/Killjoy.jpg');}

.swiper-slide.skye{background-image: url('./Images/Skye.jpg');}

.swiper-slide.sage{background-image: url('./Images/Sage.jpg');}

.swiper-slide.jett{background-image: url('./Images/Jett.jpg');}

.swiper-slide.reyna{background-image: url('./Images/Reyna.jpg');}

.swiper-slide.cypher{background-image: url('./Images/Cypher.jpg');}

.swiper-slide.phoenix{background-image: url('./Images/Phoenix.jpg');}

.swiper-slide.yoru{background-image: url('./Images/Yoru.jpg');}

.content{
  cursor: grab;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.content p{
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #1F2833ED;
  padding: 1% 15%;
  border-radius: 10px 10px 0 0;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color1);
}
.content p:active{
  color: #66FCF19F;
}

.gallery{
  grid-column: 2/6;
}

.character-name{
  padding: 5% 8% 1% 2%;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4rem;
  color: var(--color1);
  grid-column: 1/2;
}

.video-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video{
  width: 22rem;
  /*height: 15rem;*/
  aspect-ratio: 16/9;
  margin: 0.5rem;
  box-shadow: 0 0.5rem 1rem #45A29E80;
  overflow: hidden;
  border-radius: 10px;
}

.video-container .video video, .video-container .video iframe{
  /*width: 100%;*/
  aspect-ratio: 16/9;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-container .video video:hover, .video-container .video iframe:hover{
  transition: 0.2s linear;
  transform: scale(1.05);
}

.video-container .video .active{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  box-shadow: 0 0 0 100vh #1F2833CC;
  z-index: 1;
}

.video-container .video .active:hover{
  transition: none;
  transform: translate(-50%, -50%) scale(1);
}

footer{
  grid-column: 1/7;
  background-color: var(--background);
  width: 100%;
  height: 55px;
}

@media only screen and (max-width: 1024px){
  .mainvideo::-webkit-scrollbar-thumb{
    background-color: transparent;
  }
  #scroll-to-top{
    bottom: 50px;
  }
  .mainvideo{
    background-image: var(--background);
    width: 100%;
    height: 100%;
  }

  #valorant.game-title, #overwatch.game-title, .swiper-container{
    grid-column: 2/6;
  }
  #valorant.game-title, #overwatch.game-title{
    padding-top: 16%;
    padding-bottom: 4%;
  }

  .swiper-container{
    min-height: 50vh;
  }

  .swiper-slide{
    width: 300px;
    height: auto;
  }

  .valorant-library{
    grid-column: 2/6;
    display: grid;
  }
}